<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plot 3</title>
    <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.css" type="text/css">
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
    <h1>Gráfico de Barras de Tipos de Incidentes por Colonia</h1>
    <div>
        <label for="coloniaSelect">Selecciona una Colonia:</label>
        <select id="coloniaSelect"></select>
    </div>
    <div id="plot"></div>
    <script src="/static/js/plot3.js"></script>
</body>
</html>